*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    min-height:100vh;
    display:flex;
}

.background-image {
    height:100vh;
    width:100vw;
    position:relative;
    overflow: hidden;
}

#image {
    position:absolute;
    top:-30px;
    left:-30px;
    height:calc(100% + 60px);
    width:calc(100% + 60px);
    object-fit: cover;
}

.num-in-per {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: black;
    font-weight:600;
    font-size:2.5rem;
}